
/* _______ TYPOGRAPHY _______ */
a {
    text-decoration: none;
    color: currentColor;
}
a:hover {
    color: currentColor;
}

body {
    line-height: unset;
}

.blue_text {
    color: blue;
}

h2 {
    font-weight: 600;
    font-size: 1.85rem;
}
/* _______ END TYPOGRAPHY _______ */



/* _______ COMMON STYLES _______ */
.ms_container {
    padding-left: 1rem;    
    padding-right: 1rem; 
    max-width: 1400px;   
    margin: auto;
}
@media screen and (min-width: 768px) {
    .ms_container {
        padding-left: 3rem;    
        padding-right: 3rem;    
    }
}

img {
    max-width: 100%;
    display: block;
}

.opacity {
    opacity: 0.6;
}
/* _______ END COMMON STYLES _______ */




/* _______ BUTTONS _______ */
.ms_btn {
    background-color: #363636;
    padding: .6rem 1rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;

}
.ms_btn:hover {
    color: white;
}

.btn_small {
    padding: .5rem .75rem;
    font-size: .9rem;
}

.btn_blue {
    background-color: #2d64e6;
}

.btn_red {
    background-color: #cd3d0f;
}
/* _______ END BUTTONS _______ */




/* _______ HEADER _______ */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo_sony {
    height: .75rem;
}
@media screen and (min-width: 768px) {
    .logo_sony {
        height: 1rem;
    }    
}

/* ----- HEADER TOP ----- */
.header_top {
    background-color: black;
    padding: .7rem;
}
/* ----- END HEADER TOP ----- */


/* ----- HEADER BOTTOM ----- */
.header_bottom {
    background-color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000;
}
.search_icon {
    width: 1.75rem;
}
/* ----- END HEADER BOTTOM ----- */

/* _______ END HEADER _______ */



/* _______ MAIN _______ */

/* ----- HERO SECTION ----- */

/* HERO TOP */
.hero_top {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    color: white;

    margin-top: 6.75rem;
    padding-bottom: .5rem;
    padding-top: 13rem; 
}
@media screen and (min-width: 768px) {
    .hero_top {
        padding-bottom: 2rem;
        padding-top: 15rem;
    }
}

.returnal_logo {
    width: 14rem;
}

/* spacing items */
.hero_top .col > * {
    margin: 1rem 0;
}
/* END HERO TOP */

/* HERO BOTTOM */
.hero_bottom {
    padding-top: 1.5rem;    
    padding-bottom: 1.5rem;    
}

.hero_bottom .image_wrapper {
    margin: calc(var(--bs-gutter-x) * .5) 0;
    border-radius: .8rem;
    overflow: hidden;
}
/* END HERO BOTTOM */

/* ----- END HERO SECTION ----- */



/* ----- PLAYSTATION 5 SECTION ----- */
#playstation5 {
    margin: 4rem 0;
}

#playstation5 .blue_text {
    margin-bottom: 0;
    font-size: .9rem;
}

#playstation5 .text_wrapper {
    text-align: center;
}
@media screen and (min-width: 768px) {
    #playstation5 .text_wrapper {
        text-align: left;
    }    
}
#playstation5 .text_wrapper > * {
    margin: .75rem 0;
}


#playstation5 .product_wrapper.selected {
    border-bottom: 2px blue solid;
}
#playstation5 .product_wrapper {
    font-size: 1rem;
    height: 100%;
    padding: .25rem;

}
@media screen and (min-width: 576px) {
    #playstation5 .product_wrapper {
        font-size: 1.2rem;
    }    
}
@media screen and (min-width: 992px) {
    #playstation5 .product_wrapper {
        padding: 1.25rem;
    }    
}


/* spacing */
#playstation5 .row:nth-child(2) {
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
    #playstation5 .row {
        margin: 2.2rem 0;
    }    
}
/* ----- END PLAYSTATION 5 SECTION ----- */


/* _______ END MAIN _______ */
