
/* _______ TYPOGRAPHY _______ */
a {
    text-decoration: none;
    color: currentColor;
}
a:hover {
    color: currentColor;
}

body {
    font-family: Arial;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}
h3 {
    font-weight: 600;
}
/* _______ END TYPOGRAPHY _______ */



/* _______ COMMON STYLES _______ */
.ms_container {
    padding-left: 1rem;    
    padding-right: 1rem; 
    max-width: 1400px;   
    margin: auto;
}
@media screen and (min-width: 768px) {
    .ms_container {
        padding-left: 3rem;    
        padding-right: 3rem;    
    }
}
.ms_container_small {
    max-width: 600px;   
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

.opacity {
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;
}
.opacity:hover {
    opacity: 1;
}

.videogame_logo {
    width: 14rem;
}

.text_bold {
    font-weight: 600;
}

.image_wrapper {
    margin: calc(var(--bs-gutter-x) * .5) 0;
    border-radius: .8rem;
    overflow: hidden;
}

.grey_paragraph {
    color: rgb(134, 134, 134);
    font-weight: 600;
    font-size: 1rem;
}

li {
    list-style: none;
}
/* _______ END COMMON STYLES _______ */




/* _______ BUTTONS _______ */
.ms_btn {
    background-color: #363636;
    padding: .6rem 1rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;
    position: relative;
}

.ms_btn:hover {
    color: white;
    outline: 2px solid white;
    outline-offset: -4px;
}
.ms_btn_dark_hover:hover {
    outline: 2px solid black;
    outline-offset: -4px;
}

.btn_blue {
    background-color: #2d64e6;
}

.btn_red {
    background-color: #cd3d0f;
}
/* _______ END BUTTONS _______ */




/* _______ HEADER _______ */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo_sony {
    height: .75rem;
}
@media screen and (min-width: 768px) {
    .logo_sony {
        height: 1rem;
    }    
}

/* ----- HEADER TOP ----- */
.header_top {
    background-color: black;
    padding: .7rem;
}

header .nav-link::after {
    content: url('../img/chevron-down-solid.svg');
    display: inline-block;
    width: 13px;
    vertical-align: sub;
}
/* on hover or active arrow down turns blue */
.nav-link[aria-expanded*="true"]::after,
.nav-link:hover::after {
    content: url('../img/chevron-down-solid-hover.svg');
}
/* ----- END HEADER TOP ----- */


/* ----- HEADER BOTTOM ----- */
.header_bottom {
    background-color: white;
}
.navbar {
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000;
}
.search_icon {
    width: 1.75rem;
}
/* ----- END HEADER BOTTOM ----- */

/* _______ END HEADER _______ */



/* _______ MAIN _______ */

/* ----- HERO SECTION ----- */

/* HERO TOP */
.hero_top {
    background-image: url("../img/hero_alt.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    margin-top: 5.75rem;
    padding-bottom: .5rem;
    padding-top: 13rem; 
}
@media screen and (min-width: 768px) {
    .hero_top {
        padding-bottom: 2rem;
        padding-top: 15rem;
    }
}


/* spacing items */
.hero_top .col > * {
    margin: 1rem 0;
}
/* END HERO TOP */

/* HERO BOTTOM */
.hero_bottom {
    padding-top: 1.5rem;    
    padding-bottom: 1.5rem;  
}

.hero_bottom .outline_active {
    outline: 2px solid #0072ce;
    outline-offset: 3px;
}
.hero_bottom .image_wrapper {
    transition: transform 300ms ease-in-out;  
    cursor: pointer;
}
.hero_bottom .image_wrapper:hover {
    transform: translateY(-.75rem);
}
/* END HERO BOTTOM */

/* ----- END HERO SECTION ----- */



/* ----- PLAYSTATION 5 SECTION ----- */
.playstation5 {
    margin: 4rem 0;
}

.playstation5 .blue_text {
    margin-bottom: 0;
    font-size: .9rem;
    color: blue;
    font-weight: 400;
}

.playstation5 .text_wrapper {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .playstation5 .text_wrapper {
        text-align: left;
    }    
}
.playstation5 .text_wrapper > * {
    margin: .75rem 0;
}


.playstation5 .product_wrapper.selected {
    border-bottom: 2px blue solid;
}
.playstation5 .product_wrapper {
    font-size: 1rem;
    height: 100%;
    padding: .25rem;
    cursor: pointer;

}
@media screen and (min-width: 576px) {
    .playstation5 .product_wrapper {
        font-size: 1.2rem;
    }    
}
@media screen and (min-width: 992px) {
    .playstation5 .product_wrapper {
        padding: 1.25rem;
    }    
}


/* spacing */
.playstation5 .row:nth-child(2) {
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
    .playstation5 .row {
        margin: 2.2rem 0;
    }    
}
/* ----- END PLAYSTATION 5 SECTION ----- */



/* ----- NEW RELEASES SECTION ----- */
.new_releases_top {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    color: white;
    padding: 2rem 0;
}
.new_releases_top .col > * {
    margin: 1.25rem 0;
}


.new_releases_bottom {
    padding: 2rem 0;
    background-color: #1f1f1f;
    color: white;
}
.new_releases_bottom .image_wrapper {
    margin-bottom: 0;
}
.new_releases_bottom .col-6 {
    margin-bottom: calc(var(--bs-gutter-x) * .5);
}
/* ----- END NEW RELEASES SECTION ----- */



/* ----- PLAYSTATION 4 SECTION ----- */
.playstation4 {
    padding: 3rem 0;
}
.playstation4 .row > * {
    margin: 1.25rem 0;
}
/* ----- END PLAYSTATION 4 SECTION ----- */



/* ----- BANNERS ----- */

@media screen and (max-width: 767px) {
    .ms_banner {
        padding: 2rem 0;
    } 
}
.ms_banner .col > * {
    margin: .75rem 0;
}

.banner_logo {
    width: 20rem;
}


.playstation_now {
    background-color: #161c3b;
    color: white;
}
.playstation_now button {
    background-color: white;
    color: black;
}
.playstation_now button:hover {
    color: black;
}


.playstation_plus {
    background-color: #bebcbb;
}
.playstation_plus button {
    background-color: #d9dadc;
    color: blue;
}
.playstation_plus button:hover {
    color: blue;
}

/* ----- END BANNERS ----- */



/* ----- DISCOUNTS SECTION ----- */
.discounts {
    padding: 3.5rem 0;
}
.discounts .row {
    margin: 1rem 0;
}
.discounts .col-md-4 {
    margin: 1rem 0;
}
/* ----- END DISCOUNTS SECTION ----- */



/* ----- SOCIALS SECTION ----- */
.socials {
    padding: 4.5rem 0;
}
.socials .row > * {
    margin: calc(var(--bs-gutter-x) * .5) 0;
}
.socials .col-12 {
    margin-bottom: 2rem;
}
/* ----- END SOCIALS SECTION ----- */


/* _______ END MAIN _______ */




/* _______ FOOTER  _______ */
footer {
    background-color: #00439c;
    color: white;
    padding: 3rem 0;
}

footer a:hover {
    text-decoration: underline;
}

footer .logo_wrapper {
    margin-bottom: 2rem;
}
.play_logo_footer {
    width:5rem;
    margin-bottom: 1.5rem;
}
.globe_icon_footer {
    width: 1rem;
}
footer ul {
    margin-bottom: .5rem;
    font-size: .9rem;
}
footer li {
    margin: .5rem 0;
}


.sie_logo_footer {
    width: 9rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.sie_logo_footer + p {
    font-size: .8rem;
}
/* _______ END FOOTER  _______ */
